.center {
  text-align: center;
}
.card {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 100px;
  height: 150px;
  display: inline-block;
}

.card-value {
  font-size: 24px;
  display: block;
}

.card-color {
  font-size: 60px;
  display: block;
}

.card.Trèfle, .card.Pique {
  color: black;
}

.card.Carreaux, .card.Cœur {
  color: red;
}

.container-switch {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.switch {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
}

.switch input {
  position: absolute;
  top: -30px;
  left: -30px;
  width: 0;
  height: 0;
}

.switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #99b4df;
  border-radius: 20px;
}

.switch input:checked + span {
  background: #346abf;
}

.switch input + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all .5s;
}

.switch input:checked + span:before {
  left: 34px;
}
